<div class="skin-black" ng-controller="bankdashboardcontroller" class="padding-top-80">
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">                
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="search..."/>
                        <span class="input-group-btn">
                            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li>
                        <a ui-sref="bankstatus">
                            <i class="fa fa-dashboard"></i> <span>Statistics</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a ui-sref="banksdashboard">
                            <i class="fa fa-th"></i> <span>DashBoard</span> <small class="badge pull-right bg-green">new</small>
                        </a>
                    </li> -->
                   <!--  <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Charts</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                            <li><a href="../charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                            <li><a href="../charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>UI Elements</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                            <li><a href="../UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                            <li><a href="../UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                            <li><a href="../UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                            <li><a href="../UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                            <li><a href="../forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                            <li><a href="../forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>                                
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple tables</a></li>
                            <li><a href="../tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../calendar.html">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                            <small class="badge pull-right bg-red">3</small>
                        </a>
                    </li>
                    <li>
                        <a href="../mailbox.html">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <small class="badge pull-right bg-yellow">12</small>
                        </a>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Examples</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
                            <li><a href="login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
                            <li><a href="register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
                            <li><a href="lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
                            <li><a href="404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
                            <li><a href="500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>                                
                            <li><a href="blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
                        </ul>
                    </li> -->
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <aside class="right-side">
            <div class="col-lg-12 col-xs-12 padding-bottom-15">
                <ul class="status-tabs new-status-tabs">
                    <li ng-class="currentStatus == -1 ? 'active' : ''" ng-click="refreshApplication(-1);"><span style="cursor:pointer">ALL</span></li>
                    <!--<li><a ng-click="refreshApplication();">NEW</a></li>-->
                    <li ng-class="currentStatus == 1 ? 'active' : ''" ng-click="refreshApplication(1);"><span style="cursor:pointer">NEW</span></li><!--DOCUMENT UPLOAD-->
                    <li ng-class="currentStatus == 2 ? 'active' : ''" ng-click="refreshApplication(2);"><span style="cursor:pointer">DOCUMENT VERIFIED</span></li><!--DOCUMENT VERIFICATION-->
                    <li ng-class="currentStatus == 3 ? 'active' : ''" ng-click="refreshApplication(3);"><span style="cursor:pointer">IN PROCESS WITH BANK</span></li>
                    <li ng-class="currentStatus == 4 ? 'active' : ''" ng-click="refreshApplication(4);"><span style="cursor:pointer">APPROVED</span></li>
                    <li ng-class="currentStatus == 5 ? 'active' : ''" ng-click="refreshApplication(5);"><span style="cursor:pointer">DISBURSEMENT</span></li>
                    <li ng-class="currentStatus == 6 ? 'active' : ''" ng-click="refreshApplication(6);"><span style="cursor:pointer">REJECTED</span></li>
                </ul>
            </div>
            <!-- <div class="bar">
                <div class="row">
                    <div class="col-md-7">
                    <label>Search Anything :</label>
                    <input type="text" class="search" ng-model="search.$" placeholder="Enter your search terms"/>
                    </div>
                    <div class="col-md-5">
                    <div class="form-group">
                            <label>Date range:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="reservation"/>
                            </div>
                        </div>
                    </div>
                </div>   
            </div> -->
            <div class="bar">
                <label>Search Anything :</label>
                <input type="text" class="search" ng-model="search.$" placeholder="Enter your search terms"/>
                <input id="startDate" type="date" name="S_Date" ng-model="startDate"/>
                <input id="endDate" type="date" name="E_Date" ng-model="endDate"/>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-custom-style" st-table="Applications" st-pipe="callServer">
                    <thead>
                        <tr class='header'>
                            <th st-skip-natural="true" st-sort="applicationNumber">Application</th>
                            <th st-skip-natural="true" st-sort="userName">Applicant Name</th>
                            <th st-skip-natural="true" st-sort="phone">Contact No</th>
                            <th st-skip-natural="true" st-sort="loanAmount">Loan Amount</th>
                            <!-- <th st-skip-natural="true" st-sort="loanPurpose">Loan Purpose</th> -->
                            <th st-skip-natural="true" st-sort="loanType">Loan Type</th>
                             <th st-skip-natural="true" st-sort="Eligibility">Eligibility</th>
                            <!-- <th st-skip-natural="true" st-sort="banksLoans">Loan Plan Name</th> -->
                            <th st-skip-natural="true" st-sort="status">Status</th>
                            <th st-skip-natural="true" st-sort="appliedDate" st-sort-default="reverse">Applied Date</th>
                            <th st-skip-natural="true">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='a in Applications | filter:search:strict | myfilter:startDate:endDate'>
                            <td>
                                <a ui-sref="banksapplicationdetail({ id:a.applicationNumber })"> {{a.applicationNumber}}</a>
                            </td>
                            <td>
                                {{a.userName}}
                            </td>
                            <td>
                                {{a.phone}}
                            </td>
                            <td ng-bind-html="a.loanAmount | INR" style="text-align: right;"></td>
                            <td  style="text-align: center;">
                                {{a.loanType}}
                            </td>
                            <td>
                                {{}}
                            </td>
                            <td>
                                {{a.status}}
                            </td>
                            <td>
                                {{a.appliedDate | date:'dd-MM-yyyy'}}
                            </td>
                            <td class="action" style="text-align: center;">
                                <a data-toggle="modal" data-target="#ShowInfo" ng-click="test($event,$index);" href="#ShowInfo"><i class="glyphicon glyphicon-info-sign green"></i></a>
                                <a href='#'><i class="glyphicon glyphicon-edit blue"></i></a>
                                <!-- <a href='#'><i class="glyphicon glyphicon-remove-circle red"></i></a> -->
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading && isIntialLoad">
                    <tr>
                        <td colspan="8" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="Applications.length==0 && !isIntialLoad">
                        <tr>
                            <td colspan="8" class="text-center">No Application found</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="5" colspan="9"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div>
                <ul>Note : Loan Type
                    <!-- <li>Note : Loan Type</li> -->
                    <li>  PL : Personal Loan</li>
                    <li>  HL : Home Loan</li>
                    <li>  EL : Education Loan</li>
                </ul> 
                <ul>Note : Status
                    <li>DU : Document Upload</li>
                    <li>DV : Document Verification</li>
                    <li>DD : Document Disbursed</li>
                    <li>DR : Document Regected</li>
                </ul>
            </div>
            <div id="ShowInfo" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align-last: center">User Application Detail</h4>
                        </div>
                        <div class="modal-body">
                        <b>{{info}}</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
         </aside>
    </div>
</div>