<html ng-app="RufeeApp" ng-controller="RufeeController">
    <head>
        <title>AdminLTE | Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-control" content="public">
        <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 02 Jan 2017 11:12:01 GMT">
           <link href="shared/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="shared/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="shared/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="shared/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="shared/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="shared/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="shared/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="shared/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <script src="shared/js/jquery-1.12.3.js"></script>

        <!-- <script src="shared/js/jquery/dist/jquery.min.js"></script> -->
        <script src="shared/js/angular.min.js"></script>
        <!-- <script type="text/javascript" src=shared/js/angular-route.js></script> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
        <script src="shared/js/angular-cookies/angular-cookies.min.js"></script>
        <!-- <script src="shared/js/angular-ui-router/release/angular-ui-router.js"></script> -->
        <script src="shared/js/angular-animate/angular-animate.js"></script>
        <script src="shared/js/bootstrap.min.js"></script>
        
        <script src="shared/js/angular-toastr/dist/angular-toastr.min.js"></script>
        <!-- <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script> -->
        <script src="shared/js/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="shared/js/jquery-ui.js"></script>
        <script src="shared/js/angular-ui-bootstrap/dist/ui-bootstrap.min.js"></script>
        <script src="shared/js/angular-slimscroll/ngSlimscroll.min.js"></script>
        <!-- Our Website Javascripts -->
        <script src="app.module.js"></script>
        <script src="app.route.js"></script>
        <script src="app.controller.js"></script>
        <!-- <script src="shared/services/bankauthenticationservice.js"></script> -->
        <!-- bootstrap 3.0.2 -->
     
      
       
    </head>
    <body>
    <!-- <div class="container-fluid no-padding">
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
        <div ui-view="header"></div>
        
        <div ui-view="content"></div>
        
        <div ui-view="footer"></div>
    </div> -->
      

   <!--  <script type="text/ng-template" id="loginModalContent.html">
        <div class="padding-top-150">
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
                    <form name="loginform" role="form" class="input-controls-group">
                        <div class="col-md-12 input-control">
                            <label for="email">Email:</label>
                            <input type="email" ng-model="email" name="email" readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" class="col-lg-12 col-xs-12 input-text" required />
                        </div>
                        <div class="col-md-12 input-control">
                            <label for="password">Password:</label>
                            <input type="password" ng-model="password" name="password" readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" class="col-lg-12 col-xs-12 input-text" required />
                        </div>
                     
                        <div class="col-md-12 input-control">
                            <input type="submit" ng-disabled="loginform.$invalid" ng-click="login()" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        </script> -->
    </body>
</html>